<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Timeline for the 2017-2018 Year</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../img/about/1.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September</h4>
                                    <h4 class="subheading">Recruitment</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Recruitment will start on Imagine Day</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../img/about/2.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October</h4>
                                    <h4 class="subheading">Team building</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Training, orientation, and goal alignment will be done</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../img/about/3.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>November-January</h4>
                                    <h4 class="subheading">Design</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">This phase is where most of the design choices, and BOM will be decided in preperation for assembly</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../img/about/4.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Febuary-May</h4>
                                    <h4 class="subheading">Testing and Competition Preperation</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Extensive testing on the system will be done as we prepare to travel to competition</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Robosub
                                    <br>Competition
                                    <br>2018</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
